
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0 d-flex justify-content-between">
            <h6>Category Management</h6>
            <a class="btn btn-primary" href="/admin/categoryManagement/add_category">Add Category</a>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sl.No</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Category</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Offer</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <% category.forEach((element,index)=>{%>
                  <tr>
                    <td>
                    <div class="d-flex px-3 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm"><%= index+1 %> </h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-start text-start text-sm"> 
                      <span class="text-secondary text-capitalize text-xs font-weight-bold"><%= element.categories%></span>
                    </td>
                    <td class="align-middle text-start">
                      <span class="text-secondary text-xs font-weight-bold">Rs: <%= element.offer?element.offer:0%> </span>
                    </td>
                    <td class="align-middle">
                      <a href="/admin/categoryManagement/edit_category/<%= element._id %>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        |
                      </a>
                      <a href="/admin/categoryManagement/delete_category/<%= element._id %>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Delete
                      </a>
                    </td>
                  </tr>
                  <%}) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  