<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0 d-flex justify-content-between">
          <h6>Coupon Management</h6>
          <a class="btn btn-primary" href="/admin/couponManagement/add_coupon">Add Coupon</a>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Discount</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Capped Amount</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount Validity </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Max Usage</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created On</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Validity Till</th>
                  <!-- <th class="text-secondary opacity-7"></th> -->
                </tr>
              </thead>
              <tbody>
                <% const dateToreadable=(date)=>{
                        let dateMain = new Date(date)
                        let months = ['Jan','Feb','March','April','May','June','July','Aug','Sept','Oct','Nov','Dec']
                        let dd = dateMain.getDate()
                        let mm = dateMain.getMonth()
                        let month = months[mm]
                        let yyyy = dateMain.getFullYear()

                        return `${dd}-${month}-${yyyy}`
                    } %>
                <% couponData?.forEach((element,index) => { %>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <h6 class="mb-0 text-sm mx-3 mt-1"><%= index+1 %>.</h6>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><%= element.coupon %> </h6>
                        <p class="text-xs text-secondary mb-0"><%= element.description.slice(0,60)+"..." %></p>
                      </div>
                    </div>
                  </td>
                  <td>

                    <% if(element.amount == 0){ %>
                    <p class="text-xs font-weight-bold mb-0"><%= element.percentage %> % </p>
                    <% }else{ %>
                    <p class="text-xs font-weight-bold mb-0">₹ <%= element.amount %></p>
                    <%}%>
                      <p class="text-xs text-secondary mb-0"><%= element.discountType %></p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="text-secondary text-xs font-weight-bold"><%= element.cappedAmount %></span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success w-auto"><%= element.amountValidity%></span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"><%= element.usageValidity %></span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"><%= dateToreadable(element.createdAt) %></span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"><%= dateToreadable(element.validityTill) %></span>
                  </td>
                </tr>
                <%}) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>