<style>
    body {
      background-image: url('/images/page-header-bg.jpg');
    }
  
    .btn {
      min-width: 60px;
      color: white;
    }
  
    h6 {
      padding-right: 50px;
  
    }
  
    .line {
      width: 100.5%;
      height: 1px;
      background-color: #FCB941;
    }
  
    .addProduct {
      border-radius: 3px;
      border: #ebebeb;
      /* width: 300px; */
      background-color: #1B7D8F;
      font-weight: 700;
    }
  
    table {
      border-collapse: collapse;
    }
  
    th {
      border: 0.8px solid rgb(222, 226, 230) !important;
    }
  
    td {
      border: 0.8px solid rgb(222, 226, 230) !important;
      padding-top: .5em !important;
      padding-bottom: .5em !important;
    }
  
    .nav {
      background-image: url('/images/page-header-bg.jpg');
    }
  
    #myTable_previous a.page-link,
    #myTable_next a.page-link {
      color: black !important;
    }
  
    li.paginate_button a.page-link {
      color: rgb(0, 0, 0) !important;
    }
  
    .fas.fa-angle-up {
      display: none;
    }
  </style>
  <section>
    
    <div class="row w-100 ">
      
      <div class="col-md-12 p-5 d-flex justify-content-center align-items-center ">
        <div class="headBar d-flex text-center ">
          <a href="/admin_panel">
            <h6 >Dashboard</h6>
          </a>
          <a href="/admin_panel/products">
            <h6>Product Mangement</h6>
          </a>
          <a href="/admin_panel/category_management">
            <h6 >Category Mangement</h6>
          </a>
          <a href="/admin_panel/user_management">
            <h6>User Mangement</h6>
          </a>
          <a href="/admin_panel/order_management">
            <h6>Orders Mangement</h6>
          </a>
          <a href="/admin_panel/coupen_management">
            <h6 class="text-info">Coupen Mangement</h6>
          </a>
  
        </div>
    </div>
    <div class="row line ">
  
    </div>
    <div class="container-fluid">
      <div class="row ">
  
        <div class="col-md-12">
          <div class="mainbar">
            <section id="page-top">
  
              <!-- Page Wrapper -->
              <div id="wrapper">
                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">
                  <div id="content">
                    <div class="container-fluid">
                      <div class="card shadow mt-5 mb-4" style="border: 5px solid #ebebeb; background-image: url('/images/page-header-bg.jpg');">
                        <div class="card-body mt-4">
                          <div class="col-3 col-md-3 mx-auto   d-flex justify-content-center">
                            <a href="/admin_panel/coupen_management/add_coupen" class="btn btn-primary addProduct mx-auto">Add coupen</a>
                          </div>
                          <div class="table-responsive">
                            <% const dateToreadable=(date)=>{
                                let dateMain = new Date(date)
                                let months = ['Jan','Feb','March','April','May','June','July','Aug','Sept','Oct','Nov','Dec']
                                let dd = dateMain.getDate()
                                let mm = dateMain.getMonth()
                                let month = months[mm]
                                let yyyy = dateMain.getFullYear()

                                return `${dd}-${month}-${yyyy}`
                            } %> 
                            <table class="table table-white table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th style="font-weight: bold; color:black" class="text-center">Sl.No</th>
                                  <th style="font-weight: bold; color:black; width: 80px;" class="text-center">Coupen</th>
                                  <th style="font-weight: bold; color:black" class="text-center">Description</th>
                                  <th style="font-weight: bold; color:black" class="text-center">Discount Type</th>
                                  <th style="font-weight: bold; color:black" class="text-center">Discount</th>
                                  <th style="font-weight: bold; color:black" class="text-center">AmountValidity</th>
                                  <th style="font-weight: bold; color:black" class="text-center">Max Usage</th>
                                  <th style="font-weight: bold; color:black" class="text-center">Created Date</th>
                                  <th style="font-weight: bold; color:black" class="text-center">Expiry Date</th>
                                </tr>
                              </thead>
  
                              <tbody>
                                <% couponData?.forEach((element,index) => { %>
                                <tr>
                                  <td class="text-center" style="border-bottom: 1px solid  #dee0e0"><%= index+1  %></td>
                                  <td class="text-center" style="border-bottom: 1px solid  #dee0e0"><%= element.coupon %> </td>
                                  <td class="text-center p-2" style="border-bottom: 1px solid  #dee0e0"><%= element.description.slice(0,60)+"..." %></td>
                                  <td class="text-center" style="border-bottom: 1px solid  #dee0e0"><%= element.discountType %></td>
                                  <% if(element.amount == 0){ %>
                                  <td class="text-center" style="border-bottom: 1px solid  #dee0e0"><%= element.percentage %> % </td>
                                  <% }else{ %>
                                    <td class="text-center" style="border-bottom: 1px solid  #dee0e0">₹<%= element.amount %></td>
                                    <%}%>
                                  <td class="text-center" style="border-bottom: 1px solid  #dee0e0"><%= element.amountValidity%></td>
                                  <td class="text-center" style="border-bottom: 1px solid  #dee0e0"><%= element.usageValidity %></td>
                                  <td class="text-center" style="border-bottom: 1px solid  #dee0e0"><%= dateToreadable(element.createdAt) %></td>
                                  <td class="text-center" style="border-bottom: 1px solid  #dee0e0"><%= dateToreadable(element.validityTill) %></td>
                                </tr>
                             <% });  %> 
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
  
                    </div>
                    <!-- /.container-fluid -->
  
                  </div>
                  <!-- End of Main Content -->
  
  
                </div>
                <!-- End of Content Wrapper -->
  
              </div>
              <!-- End of Page Wrapper -->
  
              <!-- Scroll to Top Button-->
              <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
              </a>
  
              <!-- Logout Modal-->
              <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current
                      session.</div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                      <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>