<style>
  body {
    background-image: url('/images/page-header-bg.jpg');
  }

  .cnlbtn .cancel:hover {
    background-color: rgb(167, 0, 0) !important;
  }

  .cnlbtn .viewOrders:hover {
    background-color: rgb(92, 189, 41) !important;
  }

  .btn {
    min-width: 60px;
    color: white;
  }

  h6 {
    padding-right: 50px;

  }

  .line {
    width: 100.5%;
    height: 1px;
    background-color: #FCB941;
  }

  .addProduct {
    border-radius: 3px;
    border: #ebebeb;
    /* width: 300px; */
    background-color: #1B7D8F;
    font-weight: 700;
  }

  .nav {
    background-image: url('/images/page-header-bg.jpg');
  }

  #myTable_previous a.page-link,
  #myTable_next a.page-link {
    color: black !important;
  }

  li.paginate_button a.page-link {
    color: rgb(0, 0, 0) !important;
  }

  .fas.fa-angle-up {
    display: none;
  }
</style>
<section>
  <div class="row w-100 p-4 nav">
    <div class="col-md-2 mx-5  profile">
      <div class="profileiconMain">
        <img src="/images/admin-profile.png" alt="">
      </div>
      <h4>Admin</h4>
    </div>

    <div class="col-md-9 d-flex align-items-center">
      <div class="headBar d-flex text-center ">
        <a href="/admin_panel">
          <h6 class="">Dashboard</h6>
        </a>
        <a href="/admin_panel/products">
          <h6>Product Mangement</h6>
        </a>
        <a href="/admin_panel/category_management">
          <h6>Category Mangement</h6>
        </a>
        <a href="/admin_panel/user_management">
          <h6>User Mangement</h6>
        </a>
        <a href="/admin_panel/order_management">
          <h6 class="text-info">Orders Mangement</h6>
        </a>
        <span class="nav mx-auto">
        </span>
      </div>

    </div>
  </div>
  <div class="row line ">

  </div>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12">
        <div class="mainbar ">
          <section id="page-top">
            <!-- Page Wrapper -->
            <div id="wrapper">
              <!-- Content Wrapper -->
              <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                  <!-- Begin Page Content -->
                  <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mt-5 mb-4" style="border: 5px solid #ebebeb; background-image: url('/images/page-header-bg.jpg');">
                      <div class="card-body mt-4">

                        <div id="table" class="table-responsive  table-editable">

                          <table class="table table-white table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <th style="font-weight: bold; color:black" class="text-center">Sl.No</th>
                                <th style="font-weight: bold; color:black" class="text-center">User Id</th>
                                <th style="font-weight: bold; color:black" class="text-center">Order Id</th>
                                <th style="font-weight: bold; color:black" class="text-center">Product Image</th>
                                <th style="font-weight: bold; color:black" class="text-center">Items (No)</th>
                                <th style="font-weight: bold; color:black" class="text-center">Total price</th>
                                <th style="font-weight: bold; color:black" class="text-center">Delivery status</th>
                                <th style="font-weight: bold; color:black" class="text-center">Status</th>
                                <th style="font-weight: bold; color:black" class="text-center">Action</th>

                              </tr>
                            </thead>


                            <tbody>
                              <% const status=(status)=>{
                                                                if(status==true){
                                                                    return `${'Order Placed'}`
                                                                }else{
                                                                    return `${'Order Cancelled'}`
                                                                }
                                                            } %>
                              <%  const dataToReadable=(date)=>{

                                                                const date_ = new Date(date);
                                                                let month = ['Jan','Feb','March','April','May','June','July','Aug','Sept','Nov','Dec']
                                                                let dd = date_.getDate();
                                                                let mm = date_.getMonth()-1;
                                                                let monthText = month[mm]
                                                                let yyyy = date_.getFullYear();

                                                                return `${isNaN(dd)?'00':dd}-${monthText}-${isNaN(yyyy)?'0000':yyyy}`;
                                                                }; %>


                              <% orders?.forEach((element,index) => { %>
                              <tr>
                                <td class="text-center" style="border-bottom: 1px solid rgb(222,226,230);font-weight: 600; width: 100px;">
                                  <%= index+1 %>
                                </td>


                                <td class="text-center" style="width: 250px;border-bottom: 1px solid rgb(222,226,230);font-weight: 500">
                                  Id: <%=element.userId %>
                                  Name: <span style="color: #ea9802;"><%=element.orders.fName %></span>
                                </td>

                                <td class="text-center" style="width: 250px;border-bottom: 1px solid rgb(222,226,230);font-weight: 500">
                                  Id: <%=element.orders._id %>
                                  Product: <%=element.orders.productDetails.productName.slice(0,15)+". . ." %>
                                </td>

                                <td style="width: 200px;border-bottom: 1px solid rgb(222,226,230);font-weight: 500;">
                                  <img class="mx-auto" style="width: 50px; height:50px; object-fit: contain;" src="/productImages/<%=element.orders.productDetails._id%>0.jpg" alt="">
                                </td>

                                <td class="text-center" style="width: 130px;border-bottom: 1px solid rgb(222,226,230);font-weight: 500">
                                  <%=element.orders.productDetails.quantity %>
                                </td>

                                <td class="text-center" style="width: 130px;border-bottom: 1px solid rgb(222,226,230);font-weight: 500">
                                  Rs :<%=element.orders.productDetails.productPrice%>
                                </td>

                                <% if(element.orders.productDetails.status==true){ %>
                                <td class="text-center" style="width: 130px;border-bottom: 1px solid rgb(222,226,230);font-weight: 500">
                                  <input class="text-center" style="background: transparent; border: none; " onclick="deliveryStatus(this,'<%= element.orders._id %>','<%= element.orders.productDetails._id  %>')" value="<%= element.orders.productDetails.delivery%>" >
                                </td>
                                <% }else{ %>
                                  <td class="text-center" style="width: 130px;border-bottom: 1px solid rgb(222,226,230);font-weight: 500">
                                  <input class="text-center" style="background: transparent; border: none; "  value="Cancelled" disabled >
                                </td>
                                  <% } %>

                                <td class="text-center" style="width: 130px;border-bottom: 1px solid rgb(222,226,230);font-weight: 500">
                                  <span style="color: <%= element.orders.productDetails.status?'#1b8f2cd6':'rgb(200,30,0)' %>"><%=status(element.orders.productDetails.status)%></span>
                                </td>
                                <% if(element.orders.productDetails.status==true){ %>
                                <td class="text-center cnlbtn" style="width: 220px;border-bottom: 1px solid rgb(222,226,230);font-weight: 500">
                                  <button class="cancel btn text-white" style="border-radius: 10px; width: 130px; background-color: rgb(216, 0, 0);" onclick="cancelOrder('<%=element?.orders?.productDetails?._id%>','<%=element?.orders?._id%>')">Cancel Order</button>
                                  <button class="viewOrders btn text-white mt-1" style="border-radius: 10px; width: 130px; background-color: #1b8f2cd6;">View Details</button>
                                </td>
                                <% }else{ %>
                                  <td class="text-center cnlbtn" style="width: 220px;border-bottom: 1px solid rgb(222,226,230);font-weight: 500">
                                <button class="viewOrders btn text-white" style="border-radius: 10px; width: 130px; background-color: #1b8f2cd6;">View Details</button>
                                  </td>
                                <% } %>
                              </tr>
                              <% }); %>

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->


              </div>
              <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
              <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">Select "Logout" below if you are ready to end your current
                    session.</div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function cancelOrder(proId, orderId) {
    console.log(proId, orderId);
    $.ajax({
      url: '/orders',
      data: {
        proId: proId,
        orderId: orderId
      },
      method: 'post',
      beforeSend: () => {
        return confirm('Are you sure want to cancel this order?')
      },
      success: (response) => {
        if (response.status) {
          location.reload()
        }
      }
    })
  }


  function deliveryStatus(value, orderId, proId) {
    console.log(value);

    value.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        $.ajax({
          url: '/admin_panel/updateOrders',
          data: {
            delivery: value.value,
            order: orderId,
            product: proId
          },
          method: 'POST',
          beforeSend: () => {
            return confirm('Are you sure want to update the delivery status?')
          },
          success: (response) => {
            if (response.status) {
              location.reload()
            }
          }
        })
      }
    })
  }
</script>